extends ../layout/main

block variables
	-var wrapperClass = 'wrapper'
	-var pageClass = ''
	-var description = '';

block title
	title Home
block description
	meta(name="description", content=description)

prepend css

block header
	//include ../includes/modules/header

prepend body

block content
	main.content
		.container
			.test
				| {{message}}
			.text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deserunt dignissimos et fugiat, impedit iure maiores nam nemo neque nisi non officia pariatur perferendis, placeat porro quod repellat suscipit vero?
			example-component



block footer
	//include ../includes/modules/footer


block scripts
