extends ../layout/main

block variables
	-var wrapperClass = 'wrapper wrapper-main'
	-var pageClass = 'page-index'
	-var description = 'Анкета Евтин А.Г.';

block title
	title Анкета
block description
	meta(name="description", content=description)

prepend css

block header
	//include ../includes/modules/header

prepend body

block content
	main.content



block footer
	//include ../includes/modules/footer


block scripts
